.tags {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    padding: 8px 16px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 0.455);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);
}


.tags:hover {
     background: rgb(255, 255, 255);
  
}