.footer {
    background-color: var(--surface-black);
    color: var(--white-text);
    width: 100%;

}

.footerContainer {
    padding: 24px 200px;
}


.contact {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: baseline;
}

.contactList {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    align-items: baseline;
}

.contactLinks {
    display: flex;
    justify-content: center;
    gap: var(--spacing-sm);
}


.footerText {
    font-size: var(--font-size-sm);
    color: var(--black-text);
    background-color: var(--surface-light);
    padding: 16px;
    text-align: center;
}


/* Tablet */
@media (max-width: 768px) {

    .contact:not(:last-child) {
        padding-bottom: var(--spacing-md);
        border-bottom: solid 1px var(--border-color);
    }

    .footerText {
        font-size: var(--font-size-sm);
        color: var(--black-text);
        background-color: var(--surface-light);
        padding: 16px 0;
    }

}

@media (max-width: 480px) {

    .footerContainer {
        padding: 24px;
    }


    .contact:not(:last-child) {
        padding-bottom: var(--spacing-md);
        border-bottom: solid 1px var(--border-color-light);
    }


}