.footer {
    background-color: var(--surface-black);
    color: var(--white);
    width: 100%;

}

.footerContainer {
    padding: 56px 200px;
}

.footerText {
    color: var(--white);
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
    padding: var(--padding-md);
    text-align: center;
    background-color: var(--surface-grey);
}




/*📱 Mobile (≤ 480px)*/
@media (max-width: 480px) {
    .footerContainer {
        padding: 56px 24px;
    }
}


/*📱 Large phones / small tablets (481px – 768px) */
@media (max-width: 768px) {
    .footerContainer {
        padding: 56px 24px;
    }
}

/*📱 iPad / Tablets (768px – 1024px)*/
@media (min-width: 768px) and (max-width: 1024px) {
    .footerContainer {
        padding: 56px 48px;
    }
}

/*💻 Laptop (1025px – 1366px)*/
@media (min-width: 1025px) and (max-width: 1366px) {
    .footerContainer {
        padding: 56px 24px;
    }
}