*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global variables */
:root {

    /*Surface Color */
    --surface-light: #FFFCF1;
    --surface-dark: #EDEDE5;
    --surface-black: #141414;
    --yellow-stikcy: #FFF6C8;
    --green-stikcy: #E0FFC8;
    --teal-stikcy: #C8FFF2;
    --blue-stikcy: #C8DBFF;
    --purple-stikcy: #E0C8FF;
    --red-stikcy: #FFC8C8;

    /* Text Colors */
    --black-text: #141414;
    --grey-text: #706C61;
    --primary-text: #E42535;
    --white-text: #FFFCF1;
    --yellow-stikcy-text: #84793F;
    --green-stikcy-text: #5D843F;
    --teal-stikcy-text: #3E8473;
    --blue-stikcy-text: #3F5785;
    --purple-stikcy-text: #5C3D84;
    --red-stikcy-text: #853D3D;



    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    /* Font sizes */
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-lg: 20px;
    --font-size-xl: 28px;
}

/* Global typography */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-base);
    color: var(--black-text);
    background-color: var(--surface-light);
    line-height: 1.6;
}

/* Headings */


h1 {
    font-size: 6rem;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Lists */
ul {
    list-style: none;
    padding-left: 0;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}