*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ==========================================================================
    GLOBAL STYLES
========================================================================== */
html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: var(--font-size-base);
    background-color: var(--surface);
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}


img {
    content-visibility: auto;
}




:root {

    /* ==========================================================================
    COLOR PALETTE
========================================================================== */

    --primary-color: #DD5B00;
    --primary-accent-color: #EFA45A;
    --secondary-accent-color: #F7DFA3;

    --white: #FFFEF9;
    --black: #141414;

    /* Surface Color */
    --surface: #FFFEF9;
    --surface-light: #F8F6ED;
    --surface-dark: #F7DFA3;
    --surface-hover: #FFFEF9;
    --surface-black: #141414;
    --surface-grey: #706C61;


    /* Text Colors */
    --primary-text: #141414;
    --secondary-text: #4A4A4A;
    --tertiary-text: #706C61;
    --light-grey-text: #A8A39D;
    --inverted-text: #FFFCF1;
    --hover-text: #DD5B00;
    --button-text: #DD5B00;


    /* Border Color */
    --border-default: #D0CAC0;
    --border-light: #FFFEF9;
    --border-inverted: #FFFCF1;

    /* Charts */
    --chart-primary: #E76E50;
    --chart-teal: #2A9D90;
    --chart-green: #43AA47;
    --chart-purple: #8E44AD;
    --chart-dark-teal: #264754;
    --chart-blue: #0077B6;
    --chart-dark-yellow: #E9C46A;

    /* Status */
    --status-success: #56B873;
    --status-error: #E43A3E;


    /* Drop Shadow */
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.06);
    --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 16px 40px rgba(0, 0, 0, 0.16);
    --shadow-xl: 0 24px 60px rgba(0, 0, 0, 0.20);






    /* ==========================================================================
Spacing & Radius
========================================================================== */

    /* Spacing Variables */
    --spacing-xs: 8px;
    --spacing-sm: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 56px;
    --spacing-xxxl: 72px;
    --spacing-xxxxl: 128px;

    /*Margin*/
    --margin-xs: 8px;
    --margin-sm: 12px;
    --margin-md: 16px;
    --margin-lg: 24px;
    --margin-xl: 32px;
    --margin-xxl: 56px;
    --margin-xxxl: 72px;
    --margin-xxxxl: 128px;
    --margin-page: 200px;

    --margin-top-xs: 8px;
    --margin-top-sm: 12px;
    --margin-top-md: 16px;
    --margin-top-lg: 24px;
    --margin-top-xl: 32px;
    --margin-top-xxl: 56px;
    --margin-top-xxxl: 72px;
    --margin-top-xxxxl: 128px;
    --margin-top-page: 200px;

    --margin-bottom-xs: 8px;
    --margin-bottom-sm: 12px;
    --margin-bottom-md: 16px;
    --margin-bottom-lg: 24px;
    --margin-bottom-xl: 32px;
    --margin-bottom-xxl: 56px;
    --margin-bottom-xxxl: 72px;
    --margin-bottom-xxxxl: 128px;
    --margin-bottom-page: 200px;


    /*Padding*/
    --padding-xs: 8px;
    --padding-sm: 12px;
    --padding-md: 16px;
    --padding-lg: 24px;
    --padding-xl: 32px;
    --padding-xxl: 56px;
    --padding-xxxl: 72px;
    --padding-xxxxl: 128px;
    --padding-page: 56px 200px;

    --padding-top-xs: 8px;
    --padding-top-sm: 12px;
    --padding-top-md: 16px;
    --padding-top-lg: 24px;
    --padding-top-xl: 32px;
    --padding-top-xxl: 56px;
    --padding-top-xxxl: 72px;
    --padding-top-xxxxl: 128px;
    --padding-top-page: 200px;

    --padding-bottom-xs: 8px;
    --padding-bottom-sm: 12px;
    --padding-bottom-md: 16px;
    --padding-bottom-lg: 24px;
    --padding-bottom-xl: 32px;
    --padding-bottom-xxl: 56px;
    --padding-bottom-xxxl: 72px;
    --padding-bottom-xxxxl: 128px;
    --padding-bottom-page: 200px;


    /*Gap*/
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-24: 24px;
    --gap-32: 32px;
    --gap-40: 40px;
    --gap-48: 48px;
    --gap-56: 56px;
    --gap-64: 64px;


    /*Border Radius*/
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 20px;
    --border-radius-xl: 32px;



}




/* Responsive Typography and Layout */


@media (max-width: 768px) {
    :root {
        /* ==========================================================================
Spacing & Radius
========================================================================== */

        /* Spacing Variables */
        --spacing-xs: 8px;
        --spacing-sm: 12px;
        --spacing-md: 16px;
        --spacing-lg: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 56px;
        --spacing-xxxl: 72px;
        --spacing-xxxxl: 128px;

        /*Margin*/
        --margin-xs: 8px;
        --margin-sm: 12px;
        --margin-md: 16px;
        --margin-lg: 24px;
        --margin-xl: 32px;
        --margin-xxl: 56px;
        --margin-xxxl: 72px;
        --margin-xxxxl: 128px;
        --margin-page: 200px;

        /*Padding*/
        --padding-xs: 8px;
        --padding-sm: 12px;
        --padding-md: 16px;
        --padding-lg: 24px;
        --padding-xl: 32px;
        --padding-xxl: 56px;
        --padding-xxxl: 72px;
        --padding-xxxxl: 128px;
        --padding-page: 56px 200px;

        

    }

    


}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        /* ==========================================================================
Spacing & Radius
========================================================================== */

        /* Spacing Variables */
        --spacing-xs: 8px;
        --spacing-sm: 12px;
        --spacing-md: 16px;
        --spacing-lg: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 56px;
        --spacing-xxxl: 72px;
        --spacing-xxxxl: 128px;

        /*Margin*/
        --margin-xs: 8px;
        --margin-sm: 12px;
        --margin-md: 16px;
        --margin-lg: 24px;
        --margin-xl: 32px;
        --margin-xxl: 56px;
        --margin-xxxl: 72px;
        --margin-xxxxl: 128px;
        --margin-page: 200px;


        /*Padding*/
        --padding-xs: 8px;
        --padding-sm: 12px;
        --padding-md: 16px;
        --padding-lg: 24px;
        --padding-xl: 32px;
        --padding-xxl: 56px;
        --padding-xxxl: 72px;
        --padding-xxxxl: 128px;
        --padding-page: 56px 200px;


    }



}