.header {
  position: fixed;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 64px;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.267); 
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); 
  width: auto;
  max-width: 90%;
}

.navDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: right;

}


.hamburgerMenu {
  display: none;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
}

.navbar li a {
  color: var(--white-text);
  transition: color 0.3s ease;
  padding: 8px;
}

.navbar li a:hover {
  color: var(--hover-text);
}

.dropdownIcon {
  width: 24px;
  height: 24px;
  color: var(--white-text);
  transition: transform 0.3s ease;
}

.dropdownIcon:hover {
  color: var(--hover-text);
}

.rotate {
  transform: rotate(180deg);
}


.navbar li {
  position: relative;

}


.dropdownToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white-text);
  padding: 16px;
  gap: 8px;

}

.dropdownToggle:hover {
  color: var(--hover-text);
}



.dropdown li {
  padding: 16px;
}

.dropdown li a {
  color: var(--white-text);
  text-decoration: none;
}

.dropdown li a:hover {
  color: var(--hover-text);
}

.dropdown {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--surface-black);
  padding: 16px;
  width: 200px;
  border-radius: 16px;
  list-style: none;
  z-index: 100;
}

@media (max-width: 768px) {

  .navDesktop {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
    color: var(--black-text);
    align-items: center;
  }

  .header {
    background-color: var(--surface-black);
    padding: 8px 16px;
    align-items: center;

  }

  .mobileNav li {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 0;
  }

  .mobileNav a {
    color: var(--black-text);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }


  .dropdownToggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black-text);
    gap: 4px;
    padding: 0;
  }

  .dropdownToggle:hover {
    color: var(--black-text);
  }

  .menuButton {
    background: none;
    border: none;
    padding: 8px 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-text);
  }

  .dropdown {
    position: relative;
    overflow: hidden;
    background: var(--surface-white);
    padding: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .dropdown li a {
    padding: 16px 0;
    color: var(--black-text);
  }

  .dropdownActive {
    max-height: 500px;
    opacity: 1;
    padding: 8px 16px 0px;
  }

  .dropdownActive li a {
    padding: 8px 0;
    font-size: var(--font-size-base);
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--surface-light);
    z-index: 40;
    display: flex;
    flex-direction: column;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .slideIn {
    animation: slideIn 0.3s ease forwards;
  }

  .slideOut {
    animation: slideOut 0.3s ease forwards;
  }

  .dropdownIcon {
    width: 24px;
    height: 24px;
    color: var(--black-text);
    transition: transform 0.3s ease;
  }

  .dropdownIcon:hover {
    color: var(--black-text);
  }

  .menu {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .closeButton {
    background: none;
    border: none;
    align-self: flex-end;
    margin-bottom: 16px;
    padding: 8px;
  }

  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav li a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    transition: color 0.2s ease;
  }

}