/* Hero Section */
.heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 200px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    gap: 24px;
}

.heroDescription {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.heroContact {
    display: flex;
    gap: 16px;
    color: #E42535;
}

.contactLink svg {
    width: 32px;
    height: 32px;
}

.heroImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.heroImage {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    width: 350px;
}

/* Work Grid */

.workContainer {
    display: flex;
    flex-direction: column;
    padding: 24px;
     padding: 24px 200px;
     background-color: var(--surface-grey);
}
.workContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

/* iPad (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* Phone (portrait) */
@media (max-width: 480px) and (orientation: portrait) {
    .heroContainer {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 24px;
        gap: 24px;
    }

    .heroContent {
        padding: 0;
        gap: 16px;
        max-width: 100%;
    }

    .contactLink svg {
        width: 24px;
        height: 24px;
    }

    .heroImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .heroImage {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 24px;

    }
}

/* Phone (landscape) */
@media (max-width: 768px) and (orientation: landscape) {}