.heroContainer {
  position: relative;
  overflow: hidden;
  border-radius: 120px;
  padding: 180px 150px 120px;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(circle at 30% 30%, #452d65, transparent 40%),
              radial-gradient(circle at 70% 70%, #000000, transparent 40%),
              linear-gradient(140deg, #000000 0%, #0a0a0a 25%, #2d3956 50%, #8c6bb8 77%, #e9a1b2 100%);
  background-blend-mode: screen;
  animation: auroraMove 20s ease-in-out infinite alternate;
  margin: 48px;
}


@keyframes auroraMove {
  0% {
    background-position: 0% 0%, 100% 100%, 50% 50%;
  }
  100% {
    background-position: 100% 0%, 0% 100%, 50% 50%;
  }
}
.heroContainer::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(-surface-black);
    filter: url(#noiseFilter);
    opacity: 1;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--white-text);
}

.heroDescription {
    display: flex;
    gap: 16px;
    flex-direction: column;
}


.heroSkillsContainer {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.heroSkills {
    background-color: var(--surface-grey);
    color: var(--black-text);
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
}




/* Work Grid */

.workContainer {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding: 24px 200px;
    background-color: var(--surface-light);
}

.workCard {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-grey);
    border-radius: 24px;
}

.workCardImage {
    width: 100%;
    height: 200px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    object-fit: cover;
}

.workCardContent {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.workContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.workCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 32px;
    padding: 32px 0;
}

.workCardButton {
    display: flex;
    align-items: center;
    justify-content: left;
    background: none;
    border: none;
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease;
    gap: 8px;
}

/* About Section */

.aboutContainer {
    display: flex;
    flex-direction: column;
    padding: 24px 200px;
    gap: 24px;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
}

.aboutImage {
    width: 600px;
    height: 400px;
    border-radius: 24px;
    object-fit: cover;
}

.aboutText {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Experience */

.experienceContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--surface-grey);
    padding: 24px 200px;
    gap: 24px;
}

.tabHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--surface-grey);
}

.tabButton {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-text);
    padding: 16px 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: color 0.2s ease, border-color 0.2s ease;
    text-align: center;
    width: 100%;
}

.tabButton:hover {
    color: var(--primary-text);
}

.active {
    color: var(--primary-text);
    font-weight: 600;
    border-bottom: 3px solid var(--primary-text);
}


.expCategory {
    font-size: 16px;
    font-weight: 600;
    color: var(--grey-text);
}

.expCard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.expContent {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.expDetails {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.expDetails p {
    color: var(--grey-text);
}

.expIcon {
    width: 24px;
    height: 24px;
    color: var(--grey-text);
}

.expDetailContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.expDescriptionTitle {
    font-weight: 600;
    color: var(--black-text);
}

.expDescription {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.expDescription ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 8px;
}

.expDescription li {
    margin-bottom: 4px;
    line-height: 1.5;
}



/* iPad (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

/* iPad (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* Phone (portrait) */
@media (max-width: 480px) and (orientation: portrait) {

    /* Hero Section */
    .heroContainer {
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 24px;
        gap: 24px;
    }

    .heroContent {
        padding: 0;
        gap: 16px;
        max-width: 100%;
    }

    .contactLink svg {
        width: 24px;
        height: 24px;
    }

    .heroImageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .heroImage {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 24px;

    }

    /* Work Grid */

    .workContainer {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 24px;
        background-color: var(--surface-grey);
    }

    .workCard {
        display: flex;
        flex-direction: column;
        background-color: var(--surface-light);
        border-radius: 24px;
    }

    .workCardImage {
        width: 100%;
        height: 200px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        object-fit: cover;
    }

    .workCardContent {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .workContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .workCardContainer {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 24px;
    }


    /* About Section */

    .aboutContainer {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 24px;
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
    }

    .aboutImage {
        width: 400px;
        height: 400px;
        border-radius: 24px;
        object-fit: cover;
    }

    .aboutText {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

}

/* Phone (landscape) */
@media (max-width: 768px) and (orientation: landscape) {}